<div class="d-flex h-75 d-grid gap-3 " (keyup)="detectarTecla($event)">
    <div class="w-100 h-100 align-self-stretch p-2">
        <div class="h-40">
            <div class="w-100 p-2 pt-4">
                <h1>Código do produto {{ pedido.valid }}</h1>
            </div>
    
            <div class="w-100 d-flex flex-row" [formGroup]="produtoIncluir">
                <input class="w-100 codProduto" mask="0*" [formControlName]="'ProdutoId'" (keyup)="detectarTeclaProduto($event)">
                <span class="w-25 codProduto qtdProduto valorProduto">{{ (produtoEditando ? produtoEditando.DValor : 0 ) | currencyFormat }}</span>
                <input class="w-25 codProduto qtdProduto" prefix="QTD x " mask="0*" [formControlName]="'ProdutoQuantidade'" (keyup)="detectarTeclaProduto($event)">
                <span class="btnAdd" (click)="produtoIncluir.valid ? addProduto() : error()">
                    <svg width="98" height="78" viewBox="0 0 98 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_ddd)">
                        <path d="M6 3H89C91.2091 3 93 4.79086 93 7V67C93 69.2091 91.2091 71 89 71H6V3Z" fill="#0FDA24"/>
                        </g>
                        <g filter="url(#filter1_ddd)">
                        <path d="M5 3H81C83.2091 3 85 4.79086 85 7V67C85 69.2091 83.2091 71 81 71H5V3Z" fill="#3C4257"/>
                        <path d="M49.2295 36.1006V37.7793H45.6172V41.5146H43.9473V37.7793H40.335V36.1006H43.9473V32.3564H45.6172V36.1006H49.2295Z" fill="#8792A2"/>
                        </g>
                        <defs>
                        <filter id="filter0_ddd" x="0" y="0" width="97" height="78" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="1"/>
                        <feGaussianBlur stdDeviation="0.5"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="2"/>
                        <feGaussianBlur stdDeviation="2.5"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"/>
                        <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="2"/>
                        <feGaussianBlur stdDeviation="0.5"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"/>
                        <feBlend mode="normal" in2="effect2_dropShadow" result="effect3_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter1_ddd" x="0" y="0" width="90" height="78" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="1"/>
                        <feGaussianBlur stdDeviation="0.5"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="2"/>
                        <feGaussianBlur stdDeviation="2.5"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"/>
                        <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="-1"/>
                        <feGaussianBlur stdDeviation="0.5"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"/>
                        <feBlend mode="normal" in2="effect2_dropShadow" result="effect3_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow" result="shape"/>
                        </filter>
                        </defs>
                        </svg>
                        
                </span>
            </div>
        </div>

        <div class="h-60 w-100 d-flex flex-row">
            <div class="w-25">
                <h3>Dados do produto</h3>
                <ng-container *ngIf="produtoEditando">

                    <h4 style="font-weight: bold;">{{ produtoEditando.SNome }}</h4>
                    <img style="max-width: 90%;" src={{produtoEditando.SPathFoto}}>

                </ng-container>

                <ng-container *ngIf="!produtoEditando">
                    <h4>Informe um produto...</h4>
                </ng-container>
            </div>
            <div class="w-75" [formGroup]="pedido">
                <table class="w-100 tabela" style="background-color: transparent !important;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th> Código </th>
                            <th> Descrição </th>
                            <th> Quantidade </th>
                            <th> Valor </th>
                            <th> </th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let element of pedido.controls.Produtos.value; let idx = index;">
                            <td> {{ idx+1 }}</td>
                            <td> {{element.Produto.Id}} </td>
                            <td> {{element.Produto.SNome}} </td>
                            <td> {{element.ProdutoQuantidade | number}} </td>
                            <td> {{element.Produto.DValor | currencyFormat}} </td>
                            <td> <button (click)="remover(idx)" mat-button>excluir</button> </td>
                        </tr>
                        <tr *ngIf="!pedido.controls.Produtos.value">
                            <td colspan="6" class="text-center">nenhum produto no pedido</td>
                        </tr>
                    </tbody>
                    
            
                  </table>
            </div>
        </div>
    </div>
    
</div>
<div class="d-flex flex-row bd-highlight mb-3" [formGroup]="pedido">
    <div class="p-2 flex-fill bd-highlight w-20">
        <mat-form-field appearance="fill">
            <mat-label>Cliente</mat-label>
            <mat-select formControlName="ClienteId">
                <mat-option *ngFor="let item of LstClientes" [value]="item.Id">
                {{item.SNome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="p-2 flex-fill bd-highlight w-20">
        <h3>Valor</h3>
        <h2>{{ pedido.controls.DValorPedido.value | currencyFormat }}</h2>
    </div>
    <div class="p-2 flex-fill bd-highlight w-20">
        <h3>Desconto (R$)</h3>
        <input [formControlName]="'DDesconto'" (keyup)="atualizaTotalFinal($event)" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }">
    </div>

    <div class=" flex-fill w-20">
        <h3>Valor Final</h3>
        <h2>{{ pedido.controls.DValorTotal.value | currencyFormat }}</h2>
    </div>

    <div>
        <button [disabled]="loading" (click)="pedido.valid ? finalizarPedido() : error('O pedido deve possuir ao menos um produto e um cliente.')" class="payButton"><label>FINALIZAR</label></button>
        <button (click)="novoCliente()" class="payButton novoCliente mt-1"><label>NOVO CLIENTE</label></button>
    </div>
  </div>